input{
    border-top:none;
    border-left:0;
    border-right:0;
}
button#create{
    border-radius: 40px !important; 
}
table{
    border:2px solid #0F110C;
    text-align:center;
    border-collapse:collapse; 
    margin-left: auto; 
    margin-right: auto; 
    width: 75%
    }
tr td {
    border:2px solid #0F110C;
    vertical-align: middle;
    padding: 20px;
    }

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd){
    background-color: #9D6381;
    transition: background-color 4s;
}

tr:nth-child(even) td:nth-child(even).change, tr:nth-child(odd) td:nth-child(odd).change{
    background-color: #FDECEF;
    transition: background-color 2s;
}


tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even){
    background-color: #FDECEF;
    transition: background-color 2s;
    }

tr:nth-child(even) td:nth-child(odd).change, tr:nth-child(odd) td:nth-child(even).change{
    background-color: #9D6381;
}

td#header{
    background-color: #8ACDEA;
    }

input#test{
    width: 30px;
    margin: auto;
}
